# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
.hypothesis/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/

# Virtualenv
.venv/
venv/
env/

# macOS
.DS_Store
